<mat-toolbar class="mat-elevation-z3 app-primary-color">
  <h1 *ngIf="headerInfo | async as header">
    {{header[lang].title}}
  </h1>
  <div class="fill-remaining-space"></div>
  <div *ngIf="headerInfo | async as header">
    <nav class="nav-desctop">
      <a mat-button (click)="goToPage('')">{{header[lang].buttons.home}}</a>
      <a mat-button (click)="goToPage('architects')">{{header[lang].buttons.architects}}</a>
      <a mat-button (click)="goToPage('team')">{{header[lang].buttons.team}}</a>
      <a mat-button (click)="goToPage('worklog')">{{header[lang].buttons.worklog}}</a>
      <a mat-button (click)="goToPage('styleguide')">{{header[lang].buttons.styleguide}}</a>
    </nav>
    <nav class="nav-mobile">
      <mat-menu #appMenu="matMenu" xPosition="before" class="app-primary-color">
        <a mat-menu-item (click)="goToPage('')">{{header[lang].buttons.home}}</a>
        <a mat-menu-item (click)="goToPage('architects')">{{header[lang].buttons.architects}}</a>
        <a mat-menu-item (click)="goToPage('team')">{{header[lang].buttons.team}}</a>
        <a mat-menu-item (click)="goToPage('worklog')">{{header[lang].buttons.worklog}}</a>
        <a mat-menu-item (click)="goToPage('styleguide')">{{header[lang].buttons.styleguide}}</a>
      </mat-menu>
      <button mat-icon-button [matMenuTriggerFor]="appMenu">
        <mat-icon>more_vert</mat-icon>
      </button>
    </nav>
  </div>
    <mat-select [(value)]="lang">
      <mat-option value="en" (click)="changeLang('en')">EN</mat-option>
      <mat-option value="by" (click)="changeLang('by')">BY</mat-option>
      <mat-option value="ru" (click)="changeLang('ru')">RU</mat-option>
    </mat-select>
</mat-toolbar>
