$spacing: 30px;

.card-container {
  padding: 0 $spacing $spacing $spacing;

  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  max-width: 450px;
  /*margin-bottom: 30px;*/
  margin-top: $spacing;
  background: #32324F;

  @media (max-width: 1700px) {
    max-width: 400px;
  }

  @media (max-width: 1500px) {
    max-width: 350px;
  }

  @media (max-width: 1300px) {
    max-width: 280px;
  }

  @media (max-width: 1100px) {
    max-width: 230px;
  }

  &__title {
    margin: 0 auto;
    text-align: center;
  }

  &__content {
    text-align: justify;
  }
}

mat-card-header {
  display: flex;
  justify-content: center;
}

mat-grid-tile {
  background: indianred;
}
