.card {
  max-width: 450px;
  background: #32324F;

  @media (max-width: 1700px) {
    max-width: 400px;
  }

  @media (max-width: 1500px) {
    max-width: 350px;
  }

  @media (max-width: 1300px) {
    max-width: 280px;
  }

  @media (max-width: 1100px) {
    max-width: 230px;
  }

  &__content {
    text-align: justify;
  }
}
